html {
    --bg-color: #E8ECF7;
    --secondary-bg-color: #9BAECC;
    --color-dark: #5E697F;
    --color-light: #76777C;
}

.material-symbols-outlined {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

body {
    margin: 0;
    background: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    padding: 0 1vw;
    background: var(--secondary-bg-color);
}

#menu-button {
    vertical-align: middle;
    font-size: 6vh;
}

#header-name {
    font-size: 4vh;
}

@media only screen and (min-aspect-ratio: 1/1) {
    #title-background {
        aspect-ratio: 1069/580;
    }
}

#title-background {
    background-image: url("/static/images/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100vw auto;
    width: 100vw;
    max-height: 70vh;
    margin-bottom: 10px;
}

#title-container {
    height: 100%;
    backdrop-filter: brightness(0.3) grayscale();
    color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 7.5vw;
    padding-bottom: 30px;
}

#title {
    font-size: 90px;
}

#title-subtext {
    font-size: 50px;
    text-align: center;
    margin: 0;
}

#title-banner {
    aspect-ratio: 1069/580;
    width: 95vw;
}

.photo-grid-big-row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.photo-grid-row {
    display: flex;
    justify-content: center;
    /* border: black 5px solid; */
}

.content-photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47vw;
    aspect-ratio: 847/1280;
}

.content-photo {
    transition: 0.1s;
    aspect-ratio: 847/1280;
    width: 45vw;
}

.content-photo:hover {
    width: 47vw;
}

.content-photo:not(hover) {
    width: 45vw;
}

@media only screen and (min-aspect-ratio: 1/1) {
    .photo-grid-big-row {
        flex-direction: row;
    }
    .content-photo-container {
        width: 25vw;
    }
    .content-photo {
        width: 22.5vw;
    }
    .content-photo:hover {
        width: 23vw;
    }
    .content-photo:not(hover) {
        width: 22.5vw;
    }
}